<div class="card">
    <div class="content">
        <h1>Payment Options</h1>
        <p>Payment will be collected after your visit is completed.<br><br>
        Pricing for appointments is as follows: <br>
        Initial Visit: $300 <br> 
        Follow Up Visits: $150 <br> <br>
        Please note: At this time we do not have any contracts with any insurance company so we do not accept insurance. Hopefully in the future we will. <br>
        Please be advised that we do not accept cash, checks or paypal. Kindly pay by credit card or Zelle.</p>
    </div>
</div>