<app-toolbar></app-toolbar>
<div class="jumbotron" id="home">
    <div id="headertext">
        <h1>Online Psychiatry for You</h1>
        <h4>Fast, convenient appointments anytime & anywhere.</h4>
    </div>
</div>
<div class="content" role="main">
    <app-whoweare id="about"></app-whoweare>
    <div class="alert" role="alert">
        <strong>Warning:</strong> If you have any feelings of harming self or others please go to the nearest emergency or call 911. We do not treat suicidal or homicidal patients online.
    </div>
    <app-payment id="payment"></app-payment>
    <app-footer></app-footer>
</div>
