<nav class="navbar navbar-expand-lg navbar-dark">
    <ul class="nav navbar-nav navbar-collapse" routerLinkActive="active">
        <iframe src="https://giphy.com/embed/yo1whaKkz38ME" width="30" height="30" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <li class="nav-item"><a id="main" class="nav-link">Wifi Psychiatry</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#payment">Payment</a></li>
        <div id="buttons">
            <a href="https://www.therapyportal.com/p/wifipsychiatry/" id="appointmentbutton">
                <button type="button" class="btn">Patient Portal</button>
            </a>
            <a href="https://www.therapynotes.com/app/login/WifiPsychiatry//" id="clinicianbutton">
                <button type="button" class="btn">Clinician Portal</button>
            </a>
        </div>
    </ul>
</nav>
  